<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="~{partials/partials :: head (title='Ad Detail')}"></th:block>
</head>

<body>
<nav th:replace="~{partials/partials :: navbar}">
</nav>

<header th:insert="~{partials/partials :: header (heading='Ad Detail')}"></header>

<div class="container-fluid">

    <div>
        <h2 id="title" th:text="${ad.title}"></h2>

        <label for="description">Description</label>
        <p class="ms-3" id="description" th:text="${ad.description}"></p>
    </div>

    <label for="categories">Categories</label>
    <ul id="categories">
        <li th:each="category : ${ad.categories}">[[${category.name}]]</li>
    </ul>
</div>

<footer th:insert="~{partials/partials :: footer}" class="ads-page-footer ads-color-french-violet"></footer>

</body>
</html>